<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mok.framework.excel.mapper.ExcelUploadTestMapper">

    <insert id="insertBatch" parameterType="list">
        INSERT INTO upload_test (id, string, date, double_data)
        VALUES
        <foreach collection="list" item="excelUploadTestEntityList" separator=",">
            (
            #{excelUploadTestEntityList.id},
            #{excelUploadTestEntityList.string},
            #{excelUploadTestEntityList.date},
            #{excelUploadTestEntityList.doubleData}
            )
        </foreach>
    </insert>
</mapper>